<!-- your html code here -->
<h1>Portafolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, quos quia eaque officiis nihil tempore quam
    animi, aliquid vitae corrupti tenetur soluta totam! Enim sed voluptatem expedita dolorem rem. Id. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Dicta similique exercitationem quisquam voluptatibus assumenda culpa error in
    quas voluptate consequuntur doloribus et saepe obcaecati eaque reprehenderit, dolor placeat voluptas iusto?</p>
<p>Hello, I'm the portfolio.html</p>
<div class="card-group">
    <div class="card">
        <img src="https://picsum.photos/id/1/700/400" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title text-primary">Project Name</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
                <br>
                <br>
                <br>
                <br>
        </div>
    </div>
    <div class="card">
        <img src="https://picsum.photos/id/7/700/400" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title text-primary">Project Name</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://picsum.photos/id/89/700/400" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title text-primary">Project Name</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
        </div>
    </div>
</div>
<h1>Contact</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid atque sapiente rerum consequuntur dolores pariatur reiciendis recusandae aperiam temporibus ex dolorem quas quidem illum fuga, cum delectus enim, iure porro?
<div class="formulario bg-light">

</div>
